<!DOCTYPE html>
  <html>
    <head>
      <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <script src="js/script.js" charset="utf-8"></script>
<link rel="stylesheet" href="./css/style.css">
<script type="text/javascript">const remote = require('electron').remote</script>
      <meta charset="UTF-8">
      <title>DiscordBotLogin</title>
    </head>
    <body onload="loadGuilds()">
      <div class="sidenav" id="sidenav">
</div>
<div class="sidenav2" id="sidenav2">
</div>
<div class="sidenav3" id="users">
</div>
      <div class="bg">
        <div class="content" id="content">
          <div class="sending">
      <textarea rows="1" cols="1" id="aa" onkeypress="if(event.keyCode == 13 && event.keyCode !== 16) return send();" placeholder="Wiadomość..."></textarea>
          </div>
            <div id="msgs" class="messages">
          </div>
       </div>

     </div>
    </body>
  </html>
