<!DOCTYPE html>
  <html>
    <head>
      <style>
      body {margin: 0px}
      </style>
      <meta charset="UTF-8">
      <title>Loading...</title>
    </head>
    <body>
      <img src="https://media.giphy.com/media/xTk9ZvMnbIiIew7IpW/giphy.gif" alt="loading">
    </body>
  </html>
